//CORES DO APP
.purple{
    color: $purple;
}

.dark{
    color: $dark;
}

.gray{
    color: $gray;
}

.white{
    color: $white;
}

.orange{
    color: $orange;
}
//FONTS
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,700');

//FONT STYLE
.bold{
    font-weight: 700;
}
.light{
    font-weight: 300;
}
//GLOBAL
*{
    font-family: 'Montserrat', sans-serif;
}

//CENTER
.center{
    text-align: center;
}

//MARGINS
.margin-top-5{
    margin-top: 5px;
}
.margin-top-10{
    margin-top: 10px;
}
.margin-top-20{
    margin-top: 20px;
}
.margin-top-30{
    margin-top: 30px;
}
.margin-top-40{
    margin-top: 40px;
}
//PADDING
.no-padding{
    padding: 0px;
}
.padding-40{
    padding: 40px;
}
.padding-top-20-percent{
    padding-top: 20%;
}
.padding-top-30{
    padding-top: 30px;
}
.no-margin{
    margin: 0px;
}

.bg-transparent{
    background: transparent;
}
.ctaLogin{
    padding: 10px;
    background-color: $white;
    color: $purple;
    border-radius: 100px;
}

.txtRegistrar{
    color: $white;
    font-size: 13px;
}